.product-card-img {
  width: 200px;
}

.all-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product {
  width: 300px;
  border-radius: 5px;
  overflow: hidden;
}

.product-content {
  padding: 0 10px;
}

.product-content-title {
  text-transform: capitalize;
}

.product-card-img {
  width: 100%;
}

.product-action {
  padding: 10px;
}
